* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#text-one {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  margin-top: 8px;
  color: rgb(161, 161, 161);
}

#text-two {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  padding: 12px;
  color: rgb(161, 161, 161);
  margin-bottom: 16px;
}

body {
  background-color: rgb(42, 42, 54);
}

button:focus {
  outline: none;
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  height: 480px;
  width: 320px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 1px 0px 15px -5px rgb(170, 172, 253);
  border-radius: 10px;
}

.results {
  grid-column: 1 / span 4;
  grid-row: 1 / 2;
  background-color: rgb(112, 112, 124);
  color: rgb(42, 42, 54);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /*box-shadow: -1px 5px 6px -2px rgb(222, 222, 222);*/
}

.textbox {
  float: right;
  text-align: center;
  margin: 50px 5px 50px 50px;
  font-size: 40px;
  height: 24px;
}

.settings {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.settings button {
  border: 0;
  font-size: 24px;
  font-weight: 200;
  color: rgb(161, 161, 161);
  background-color: rgb(93, 92, 104);
}


#clear {
  flex-basis: 33.4%;
}

#erase {
  flex-basis: 33.33%;
}

#plus-minus {
  flex-basis: 33.33%;
}

.calc-functions {
  grid-column: 4 / span 1;
  grid-row: 2 / span 4;

  display: flex;
  flex-direction: column;
}

.calc-functions button {
  background-color: rgb(185, 103, 36);
  border: 0;
  flex-grow: 1;
  font-size: 24px;
  font-weight: 200;
  color: rgb(93, 92, 104);
}

.numbers {
  grid-column: 1 / span 3;
  grid-row: 3 / span 4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.numbers button {
  font-size: 24px;
  font-weight: 200;
  border: 0;
  color: rgb(161, 161, 161);
  background-color: rgb(93, 92, 104);
}

#zero {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

#result {
  background-color: rgb(185, 103, 36);
  border: 0;
  font-size: 24px;
  font-weight: 200;
  color: rgb(93, 92, 104);
  border-bottom-right-radius: 8px;
}

#placeholder {
  border-bottom-left-radius: 8px;
}

#float {
  font-size: 32px;
}

#erase {
  font-size: 20px;
}